.App {
  text-align: center;
}

section {
  padding: 7%;
}
body {
  background: white;
}
html, body {
  color: #565656;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.5;
}

h3 {
  font-size: 2rem;
  line-height: 1.7;
}


h4 {
  color: #670C16;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.7;
}

a {
  color: white;
  font-size: inherit;
}


.login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loggedout a {
  color: #670C16;
}

.loggedout {
  margin: 7% 5%;
  color: white;
  width: 65%;
}

.loggedout h2 {
  margin: 3%;
}
